<template name="header">
    <div class="well container-fluid row">
        <div class="col-md-6">
            <h2 class="no-margin">geodude</h2>
        </div>
        <div class="col-md-6">
            <form class="conf-select-form form-inline text-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Conference Code"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Enter</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</template>
