<template name="posts">
    <div class="container col-lg-12">
        {{#if posts.count}}
            {{#each posts}}
                {{> post}}
            {{/each}}
        {{else}}
            <h1 class="text-center">
                No posts in this conference yet!
            </h1>
        {{/if}}
    </div>
</template>

<template name="post">
    <div class="row col-lg-12">
        <h3>{{content}}</h3>
        <h4>{{formatDate created}}</h4>
        {{#if votes}}
            <h5>Votes: {{votes}}</h5>
        {{else}}
            <h5>Votes: 0</h5>
        {{/if}}
        <button type="submit" class="btn btn-success upvote" id="{{_id}}">
            Upvote
        </button>
        <button type="submit" class="btn btn-success downvote" id="{{_id}}">
            Downvote
        </button>
        <hr>
    </div>
</template>
